{% extends 'account/custom_base.html' %}

{% load i18n %}
{% load account socialaccount %}

{% block main %}

<h1>{% trans "SIGN IN" %}</h1>

<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="secondaryAction">
        <a class="button" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <a class="button" href="{{ signup_url }}">{% trans "Sign Up" %}</a>
    </div>
    <div class="primaryAction">
        <button class="primary-button red-button" type="submit">{% trans "Sign In" %}</button>
    </div>
</form>

{% endblock main %}
