header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
header .header-left-container {
  display: flex;
  align-items: center;
  height: 6rem;
}
header .header-left-container #header-logo {
  margin-left: 2rem;
  height: 3.375rem;
}
header .header-right-container {
  display: flex;
}
header .header-right-container .header-nav-container {
  display: flex;
}
header .header-right-container .header-nav-container .header-nav-item {
  display: flex;
  align-items: center;
  padding: 2rem;
}
header .header-right-container .header-nav-container .header-nav-item a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: black;
  text-decoration: none;
}
header .header-right-container .header-icon-container {
  display: flex;
}
header .header-right-container .header-icon-container .header-icon-item {
  cursor: pointer;
  cursor: pointer;
  width: 3.56rem;
  height: 3.56rem;
  padding: 1rem;
  margin: 1rem 0 1rem 1rem;
}
header .header-right-container .header-icon-container .header-icon-item svg {
  width: 100%;
  height: 100%;
}
header .header-right-container .header-icon-container .header-icon-item + .header-icon-item {
  margin: 1rem 1rem 1rem 0;
}

footer {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #fff;
}

.home-container {
  display: grid;
  grid-template-columns: calc(50vw - 2.5rem) calc(50vw - 2.5rem);
  grid-template-rows: calc(50vh - 5rem) calc(50vh - 5rem);
}
.home-container .home-container-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  font-family: roboto;
  font-size: 3rem;
  font-weight: 100;
  border: 1px dotted black;
}

.slot-item-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: calc(100% - 36rem) 36rem;
  grid-template-rows: 100%;
}
.slot-item-container .slot-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.slot-item-container .slot-item-image img {
  max-width: 100%;
  max-height: 100%;
}
.slot-item-container .slot-item-detail {
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 0.2rem 2rem;
}
.slot-item-container .slot-item-detail .slot-item-detail-col {
  margin: 1rem 0;
}
.slot-item-container .slot-item-detail .slot-item-detail-col2 {
  display: flex;
  justify-content: space-between;
}
.slot-item-container .slot-item-detail .slot-item-type {
  font-size: 1.125rem;
}
.slot-item-container .slot-item-detail .slot-item-slots {
  display: flex;
  width: calc(100% + 2.5rem);
  min-height: 15rem;
  overflow: hidden;
  transform: translateX(-2.5rem);
}
.slot-item-container .slot-item-detail .slot-set {
  display: flex;
  width: 100%;
  flex-direction: column;
  transform: translateX(0rem);
}
.slot-item-container .slot-item-detail .slot-set:not(:last-child) {
  margin-right: 2.5rem;
}
.slot-item-container .slot-item-detail .slot-row {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.slot-item-container .slot-item-detail .slot-row .slot {
  padding-top: 2rem;
  padding-left: 2.5rem;
}
.slot-item-container .slot-item-detail .slot-row .slot .speech-message {
  position: absolute;
  display: flex;
  width: 3rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.5rem;
  font-weight: 600;
  font-style: italic;
}
.slot-item-container .slot-item-detail .slot-row .slot .speech-bubble {
  position: absolute;
  width: 3rem;
  transform: translate(-2.5rem, -1.55rem) scale(0);
  transform-origin: 2.5rem 1.5rem;
}
.slot-item-container .slot-item-detail .slot-row .slot .pokeball {
  cursor: pointer;
  width: 3rem;
}
.slot-item-container .slot-item-detail .slot-row .pokeball-open, .slot-item-container .slot-item-detail .slot-row .pokeball-closed {
  display: none;
}
.slot-item-container .slot-item-detail .slot-item-toggle .toggle {
  display: inline-block;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border: 4px solid #2c2c2c;
  border-radius: 0.5rem;
  background-color: white;
}
.slot-item-container .slot-item-detail .slot-item-toggle .toggle.selected {
  background-color: #2c2c2c;
}
.slot-item-container .slot-item-detail .slot-item-buy-button {
  cursor: pointer;
  border: 4px solid #2c2c2c;
  background-color: #FF3D00;
  box-shadow: 5px 5px 0 0 #2c2c2c;
  color: #ffffff;
  font-size: 1rem;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  transition: transform 0.05s, box-shadow 0.05s;
  padding: 1rem 0;
}
.slot-item-container .slot-item-detail .slot-item-buy-button:active {
  transform: translate(4px, 4px);
  box-shadow: 1px 1px 0 0 #2c2c2c;
}

.drawer {
  position: fixed;
  z-index: 10;
  top: 0;
  right: -500px;
  width: 500px;
  height: 100vh;
  background-color: #2c2c2c;
  padding: 0 20px 20px;
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.drawer.is-open {
  transform: translateX(-500px);
}
.drawer .drawer-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
}
.drawer .drawer-header .close-button {
  cursor: pointer;
  position: relative;
  padding: 20px;
  right: -20px;
  width: 80px;
  height: 80px;
}
.drawer .drawer-inner {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 40px;
}
.drawer .drawer-inner .drawer-message {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 2rem 0;
}
.drawer .drawer-footer {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  min-height: 130px;
  padding: 0 20px 40px 20px;
}

.cart-detail-container {
  display: flex;
  justify-content: space-between;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 3rem 0;
  border-top: 3px solid white;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6rem calc(100% - 12rem) 6rem;
  width: 100%;
  height: 100%;
  filter: opacity(1);
  transition: filter 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#container.deactivate {
  filter: opacity(0.5);
  overflow: hidden;
}
#container.deactivate * {
  pointer-events: none;
}

.primary-button {
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  transition: transform 0.05s, box-shadow 0.05s;
  padding: 1rem 0;
}
.primary-button:active {
  transform: translate(4px, 4px);
}
.primary-button.red-button {
  border: 4px solid #2c2c2c;
  background-color: #FF3D00;
  box-shadow: 5px 5px 0 0 #2c2c2c;
  color: #ffffff;
}
.primary-button.red-button:active {
  box-shadow: 1px 1px 0 0 #2c2c2c;
}
.primary-button.black-button {
  border: 4px solid #ffffff;
  background-color: #000000;
  box-shadow: 5px 5px 0 0 #ffffff;
  color: #ffffff;
}
.primary-button.black-button:active {
  box-shadow: 1px 1px 0 0 #ffffff;
}

/*# sourceMappingURL=style.css.map */
