{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokepops</title>
    <link rel="stylesheet" href="{% static 'pokepops/css/style.css' %}">
</head>

<body>
    <div class="wrapper">
        <img id="construction-image" src="{% static 'pokepops/img/under-construction.jpg' %}">
        <img id="construction-message" src="https://fontmeme.com/permalink/201219/8364e6b546d18ad6d2a26674043295e3.png"
            alt="">
    </div>
</body>


</html>